@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gentium+Book+Basic:ital@0;1&display=swap");

$body-font: "Gentium Book Basic", serif;
$header-font: "Alfa Slab One", cursive;

$black: #000;
$white: #fff;
$border-color: #ffffff34;
